<h1>{{ name() }}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ name() }}</dd>

  <td>Edad:</td>
  <dd>{{ age() }}</dd>

  <td>Método:</td>
  <dd>{{ heroDescription() }}</dd>

  <td>Capitalizado:</td>
  <!---<dd>{{ capitalizedName() }}</dd> -->
  <dd>{{ name() | uppercase }}</dd> <!--Los pipes en angular son la manera de transformar data en algo visual
                                        POR EJEMPLO:
                                          DATO REAL:
                                            1990-06-12T00:00:00.000Z
                                          VISUAL:
                                            12 de junio de 1990
                                        -->
</dl>

<button (click)="changeHero()" class="btn btn-primary mx-2">
  Cambiar nombre
</button>

<button (click)="changeAge()" class="btn btn-primary">Cambiar edad</button>

<button (click)="resetForm()" class="btn btn-primary mx-2">Reset</button>
